# Database Configuration
DB_USER=ecommerce_user
DB_PASSWORD=ecommerce_pass
DB_HOST=db
DB_NAME=ecommerce_db
DB_PORT=5432

# Flask Configuration
FLASK_ENV=production

# Node Environment
NODE_ENV=production
